body{
  background-color:black;
  color:white;
}

a{
  color: yellow;
}


.native{
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
}

.zoomed{
  position: absolute;
  max-height: 100%;
  margin: auto;
  bottom: 0px;
  width: 100%;
  right: 0px;
  left: 0px;
  top: 0px;
}

